body{
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: rgb(236, 232, 232);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.place {
    width:min(400px,90vw);
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.176);
    padding:10px;
    margin:10px;
    background-color: white;
}
.place img{
    width:100%;
}

.place>:nth-child(2){
    margin:0;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
}

.place>:nth-child(3){
    margin:0;
    margin-top: 8px;
    font-size: 16px;
    opacity: 0.7;
}